---
interface Props {
	label: string;
	id: string;
	name: string;
	value?: string;
}

const { label, id, name, value } = Astro.props;
---

<div class="mt-4 text-center">
	<label class="block text-sm font-medium text-gray-700">{label}</label>
	<input
		type="text"
		id={id}
		name={name}
		class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
		value={value}
		readonly="readonly"
	/>
</div>
