<!DOCTYPE html>
<html>
    <head>
        <title>Upload PYQs</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
        />
        <style>
            .spinner-overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                justify-content: center;
                align-items: center;
                z-index: 1000;
            }
            .spinner {
                border: 4px solid rgba(255, 255, 255, 0.3);
                border-radius: 50%;
                border-top: 4px solid white;
                width: 40px;
                height: 40px;
                animation: spin 1s linear infinite;
            }
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        </style>
        <script>
            function updateDate() {
                const examDate = document.getElementById("examDate").value || null;
                if (examDate) {
                    const date = new Date(examDate);
                    document.getElementById("examYear").value = date.getFullYear();
                    document.getElementById("examMonth").selectedIndex = date
                        .getMonth() + 1;
                }
            }

            function updateFilename() {
                const subjectCode = document.getElementById("subjectCode").value ||
                    null;
                const specializationCode =
                    document.getElementById("specializationCode").value ||
                    null;
                const examType =
                    document.querySelector('input[name="exam_type"]:checked').value ||
                    null;
                const backExam = document.getElementById("backExam").checked
                    ? "back"
                    : null;
                const examYear = document.getElementById("examYear").value || null;
                const examMonth = document.getElementById("examMonth").value || null;
                const examDate = document.getElementById("examDate").value || null;
                const examSet = document.getElementById("examSet").value || null;

                let filename = "";
                if (subjectCode) {
                    filename += subjectCode.toLowerCase();
                }
                if (specializationCode) {
                    filename += `_${specializationCode.toUpperCase()}`;
                }
                filename += `_${examType}`;
                if (backExam) {
                    filename += `_${backExam}`;
                }
                if (examDate) {
                    dateTime = new Date(examDate);

                    // YYYY_MMM_DD
                    filename += `_${dateTime.getFullYear()}_${
                        dateTime.toLocaleString("default", { month: "short" })
                .toLowerCase()
        }_${dateTime.getDate()}`;
                } else {
                    filename += `_${examYear}`;
                    if (examMonth) {
                        filename += `_${examMonth}`;
                    }
                }
                if (examSet) {
                    filename += `_set${examSet.toUpperCase()}`;
                }
                filename += ".pdf";

                document.getElementById("generatedFilename").value = filename;
            }

            function showSpinner() {
                document.getElementById("spinnerOverlay").style.display = "flex";
            }

            function onFileUpload() {
                const file = document.getElementById("file-input").files[0];
                console.log(file);

                const file_name_pattern =
                    "^(?<subject_code>[a-zA-Z0-9]+)_(?:(?<specialization_code>[a-zA-Z0-9]+)_)?(?<type>(?:midsem)|(?:endsem))_(?:(?<back>back)_)?(?<year>20[0-9]{2})(?:_(?<month>(?:jan)|(?:feb)|(?:mar)|(?:apr)|(?:may)|(?:jun)|(?:jul)|(?:aug)|(?:sep)|(?:oct)|(?:nov)|(?:dec)))?(?:_(?<date>[0-9]{1,2}))?(?:_set(?<set>[a-zA-Z0-9]+))?.pdf$";

                const file_name_regex = new RegExp(file_name_pattern);
                const match = file.name.match(file_name_regex);
                console.log(match);
                if (match) {
                    const subjectCode = match.groups.subject_code;
                    const specializationCode = match.groups.specialization_code || "";
                    const examType = match.groups.type;
                    const backExam = match.groups.back || "";
                    const examYear = match.groups.year;
                    const examMonth = match.groups.month || "";
                    const examDate = match.groups.date || "";
                    const examSet = match.groups.set || "";

                    document.getElementById("subjectCode").value = subjectCode
                        .toLowerCase();
                    document.getElementById("specializationCode").value =
                        specializationCode;
                    document.querySelector(
                        `input[name="exam_type"][value="${examType}"]`,
                    ).checked = true;
                    document.getElementById("backExam").checked = backExam === "back";
                    document.getElementById("examYear").value = examYear;
                    if (examMonth) {
                        document.getElementById("examMonth").value = examMonth;
                    }
                    if (examDate) {
                        document.getElementById("examDate").value =
                            `${examYear}-${examMonth}-${examDate}`;
                    }
                    document.getElementById("examSet").value = examSet;

                    updateFilename();
                }
            }
        </script>
    </head>
    <body class="bg-gray-100 flex items-center justify-center min-h-screen p-4">
        <div class="spinner-overlay" id="spinnerOverlay">
            <div class="spinner"></div>
        </div>
        <div class="bg-white p-6 rounded shadow-md w-full max-w-md">
            <h1 class="text-2xl font-bold mb-6 text-center">Upload PYQs PDF</h1>
            <form
                id="pyqForm"
                method="POST"
                enctype="multipart/form-data"
                class="flex flex-col space-y-4"
                oninput="updateFilename()"
                onsubmit="showSpinner()"
            >
                <div>
                    <label class="block text-sm font-medium text-gray-700"
                    >Upload PDF*</label>
                    <input
                        type="file"
                        id="file-input"
                        name="file"
                        accept=".pdf"
                        class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100"
                        onchange="onFileUpload()"
                        required
                    />
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700"
                    >Subject Code *</label>
                    <input
                        type="text"
                        id="subjectCode"
                        name="exam_subject_code"
                        placeholder="eg tcs101, tbc101, bba101, mb101"
                        pattern="^[a-zA-Z0-9]*$"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required
                    />
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700"
                    >Specialization Code (If Any)</label>
                    <input
                        type="text"
                        id="specializationCode"
                        name="exam_specialization_code"
                        placeholder="eg F1, M1"
                        pattern="^[a-zA-Z0-9]*$"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    />
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700"
                    >Exam Type *</label>
                    <div class="mt-1 flex items-center space-x-4">
                        <label class="flex items-center">
                            <input
                                type="radio"
                                name="exam_type"
                                value="midsem"
                                checked
                                class="form-radio"
                            />
                            <span class="ml-2">Mid Sem</span>
                        </label>
                        <label class="flex items-center">
                            <input
                                type="radio"
                                name="exam_type"
                                value="endsem"
                                class="form-radio"
                            />
                            <span class="ml-2">End Sem</span>
                        </label>
                    </div>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700"
                    >Back exam?</label>
                    <input
                        type="checkbox"
                        id="backExam"
                        name="back"
                        checked="false"
                        class="form-checkbox mt-1"
                    />
                </div>
                <div class="border border-gray-300 rounded p-4">
                    <div>
                        <label class="block text-sm font-medium text-gray-700"
                        >Exam Year *</label>
                        <input
                            id="examYear"
                            name="exam_year"
                            type="number"
                            min="2000"
                            max="2099"
                            step="1"
                            value="2024"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            required
                        />
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700"
                        >Exam Month (If known)</label>
                        <select
                            id="examMonth"
                            name="exam_month"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        >
                            <option value="">None</option>
                            <option value="jan">January</option>
                            <option value="feb">February</option>
                            <option value="mar">March</option>
                            <option value="apr">April</option>
                            <option value="may">May</option>
                            <option value="jun">June</option>
                            <option value="jul">July</option>
                            <option value="aug">August</option>
                            <option value="sep">September</option>
                            <option value="oct">October</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-sm font-medium text-gray-700">OR</p>
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700"
                        >Exam Date (If known)</label>
                        <input
                            type="date"
                            id="examDate"
                            name="exam_date"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            oninput="updateDate()"
                        />
                    </div>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700"
                    >Set (If Any)</label>
                    <input
                        type="text"
                        id="examSet"
                        name="exam_set"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    />
                </div>
                <div class="mt-4 text-center">
                    <p class="text-sm font-medium text-gray-700">
                        Filename (Auto-generated):
                    </p>
                    <input
                        type="text"
                        id="generatedFilename"
                        name="filename"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        value="file.pdf"
                        readonly="readonly"
                    />
                </div>
                <div class="mt-4 text-center">
                    <p class="text-sm font-medium text-gray-700">
                        Path:
                    </p>
                    <input
                        type="text"
                        id="path"
                        name="path"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        value=""
                        readonly="readonly"
                    />
                    <script>
                        const urlParams = new URLSearchParams(window.location.search);
                        let path = urlParams.get("path");
                        if (path) {
                            if (path.startsWith("/")) {
                                path = path.substring(1);
                            }
                            if (path.endsWith("/")) {
                                path = path.substring(0, path.length - 1);
                            }
                            if (!path.startsWith("pyqs/")) {
                                path = null;
                            }
                        }
                        document.getElementById("path").value = path;
                    </script>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700"
                    >Optional (For credits)</label>
                    <input
                        type="text"
                        name="contributor_name"
                        placeholder="Name"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    />
                    <input
                        type="text"
                        name="contributor_course"
                        placeholder="Course (eg BBA, BCA)"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    />
                    <input
                        type="number"
                        name="contributor_batch"
                        min="2000"
                        max="2099"
                        step="1"
                        placeholder="Passout Batch (eg 2026)"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    />
                </div>
                <div>
                    <input
                        type="submit"
                        name="pdf"
                        value="Upload"
                        class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    />
                </div>
                <div>
                    <button
                        type="button"
                        class="w-full bg-red-600 text-white py-2 px-4 rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                        onclick="document.getElementById('pyqForm').reset(); updateFilename();"
                    >
                        Clear
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
